html
    title Category
    link(rel="stylesheet", href="/css/style.css",type="text/css")
    body
        div
            h1.home
                center  ATN shop
        div
            ul
                li 
                    a(href="login") Log in
                li
                    a(href="home") Home
                li
                    a(href="category") Category
        div 
            center 
                h2 Category 
        div.x 
            ul 
                li
                    p Marvel 
                br
                li 
                    p Naruto
                br
                li 
                    p One pice     
                br
                li 
                    p Dragon Ball
                br
                li 
                    p League of Legend
                br
                li
                    p Doremon   
        br                                              
        div 
            p  Contact: 1900 0000   
            p   Email: atnshop@gmail.com
            p   Website: atnshop.com       