html
    title Home
    link(rel="stylesheet", href="/stylesheets/style.css",type="text/css")
    body
      
        div
            h1.home
                center  ATN shop
               
            h2 
                center Welcome #{name}
        div
            ul
                li 
                    a(href="login") Log in
                li
                    a(href="home") Home
                li
                    a(href="category") Category
                
        div
            center
                h2 Hot toys
        div
            center
                img(src="/image/captain.jpg", width="200px",height="200px")
                p Captain
                     
                img(src="/image/thanos.jpg", width="200px",height="200px")
                p Thanos
        
                img(src="/image/venom.jpg", width="200px",height="200px")
                p Venom
        div 
            p   Contact: 1900 0000   
            p   Email: atnshop@gmail.com
            p   Website: atnshop.com       
                    
       