html
    title Index
    link(rel="stylesheet", href="/css/style.css",type="text/css")
    body
      
        div
            h1
                center  Welcome to ATN shop
        div
            ul
                li 
                    a(href="login") Log in
                li
                    a(href="home") Home
                li
                    a(href="category") Category
        div
            center
                img(src="/image/home.jpg", width="1200px",height="350px")
                p Event Marvel from 10/03/2020 to 30/03/2020
        div 
            p   Contact: 1900 0000   
            p   Email: atnshop@gmail.com
            p   Website: atnshop.com       
                            