html
    title Login
    link(rel="stylesheet", href="/css/style.css",type="text/css")
    body
        h1 Login
        form(method="post",action="/home")
            div
                p Name
                input(type="text",name="yourName")
                
                input(type="submit" value="login")
                